body{
  background-image: url("patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  background-size: cover;
}

* {
    padding: 0px;
    margin: 0px;
  }
  #container {
    /* border: 1px solid black; */
    position: relative;
  }
  #ball {
    height: 20px;
    width: 20px;
    /* border:1px solid black; */
    position: fixed;
    border-radius: 50%;
    background-color: rgb(247, 36, 36);
    left: 60%;
    top: 20px;
  }
  #bar-1 {
    height: 20px;
    display: flex;
    justify-content: center;
    width: 150px;
    background-color: rgb(54, 155, 98);
    border-radius: 10px;
    /* border:1px solid black; */
    position: fixed;
    font-weight: bold;
    top: 0%;
    left: 50%;
  }
  #bar-2 {
    height: 20px;
    width: 150px;
    background-color: rgb(203, 41, 243);
    border-radius: 10px;
    /* border:1px solid black; */
    position: fixed;
    display: flex;
    justify-content: center;
    font-weight: bold;
    bottom: 0%;
    left: 50%;
  }